<article id="offer-item-ad_id45J4x" class="offer-item ad_id45J4x                                                                                    " data-item-id="45J4x" data-tracking-id="60470245" data-url="https://www.otodom.pl/oferta/niepolomice-przy-puszczy-7-11-ID45J4x.html#a91fa3f9b0" data-featured-name="listing_no_promo">
    <figure class="offer-item-image" data-quick-gallery="[{&quot;photo&quot;:&quot;https:\/\/apollo-ireland.akamaized.net\/v1\/files\/eyJmbiI6ImszNnVpZTU1dzFtajEtQVBMIiwidyI6W3siZm4iOiJqMWozbzEzbTZiZ24xLUFQTCIsInMiOiIxNCIsInAiOiIxMCwtMTAiLCJhIjoiMCJ9XX0.vPd3zICzUj31Khwe7meA3NUpoIj4_yW6Ospga04-Ej8\/image;s=655x491;q=80&quot;,&quot;thumb&quot;:&quot;https:\/\/apollo-ireland.akamaized.net\/v1\/files\/eyJmbiI6ImszNnVpZTU1dzFtajEtQVBMIiwidyI6W3siZm4iOiJqMWozbzEzbTZiZ24xLUFQTCIsInMiOiIxNCIsInAiOiIxMCwtMTAiLCJhIjoiMCJ9XX0.vPd3zICzUj31Khwe7meA3NUpoIj4_yW6Ospga04-Ej8\/image;s=184x138;q=80&quot;}]" data-featured-name="no_offer">
        <a href="https://www.otodom.pl/oferta/niepolomice-przy-puszczy-7-11-ID45J4x.html#a91fa3f9b0" data-tracking="click_body" data-tracking-data="{&quot;touch_point_button&quot;:&quot;photo&quot;}" data-featured-name="listing_no_promo">

            <span class="img-cover lazy" title="Działka na sprzedaż o powierzchni 730 m² - Niepołomice, wielicki, małopolskie - zdjęcie 1" style="display: block; background-image: url(&quot;https://apollo-ireland.akamaized.net/v1/files/eyJmbiI6ImszNnVpZTU1dzFtajEtQVBMIiwidyI6W3siZm4iOiJqMWozbzEzbTZiZ24xLUFQTCIsInMiOiIxNCIsInAiOiIxMCwtMTAiLCJhIjoiMCJ9XX0.vPd3zICzUj31Khwe7meA3NUpoIj4_yW6Ospga04-Ej8/image;s=655x491;q=80&quot;);"></span>
            <span class="promoted-label" data-label="Tylko w Otodom"></span>

            <div class="virtual-tours  ">
                <ul>
                </ul>
            </div>

        </a>
        <div class="developer-offer-title">Oferta dewelopera</div>
    </figure>
    <div class="offer-item-details">
        <header class="offer-item-header
            ">
            <h3>
                <a href="https://www.otodom.pl/oferta/niepolomice-przy-puszczy-7-11-ID45J4x.html#a91fa3f9b0" data-tracking="click_body" data-tracking-data="{&quot;touch_point_button&quot;:&quot;title&quot;}" data-featured-name="listing_no_promo">
                    <strong class="visible-xs-block">730 m²</strong>
                    <span class="text-nowrap">
                        <span class="offer-item-title">Niepolomice, przy puszczy 7-11</span>
                    </span>
                </a>
            </h3>
            <p class="text-nowrap"><span class="hidden-xs">Działka na sprzedaż: </span>Niepołomice, wielicki, małopolskie</p>
            <div class="vas-list-no-offer">
                <a class="button-observed observe-link favourites-button observed-text svg-heart add-to-favourites" data-statkey="ad.observed.list" rel="nofollow" data-id="60470245" href="#" title="Obserwuj">
                    <div class="observed-text-container" style="display: flex;">

                        <span class="icon observed-60470245"></span>
                        <i class="icon-heart-filled"></i>
                        <div class="observed-label">Dodaj do ulubionych</div>
                    </div>
                </a>
            </div>
        </header>
        <ul class="params
            " data-tracking="click_body" data-tracking-data="{&quot;touch_point_button&quot;:&quot;body&quot;}">
            <li class="offer-item-price">
                119 000 zł                                                                                                                                </li>
            <li class="hidden-xs offer-item-area">730 m²</li>
            <li class="hidden-xs offer-item-price-per-m">163 zł/m²</li>
        </ul>
    </div>
    <div class="offer-item-details-bottom" data-tracking="click_body" data-tracking-data="{&quot;touch_point_button&quot;:&quot;body&quot;}">
        <ul class="params-small clearfix hidden-xs">
            <li class="pull-right
                    ">
                Zbigniew Karbarz Małopolska Strefa Nieruchomości                                                                                        </li>
        </ul>
    </div>

    <div class="offer-item-observe-button vas-list-no-offer">
        <a class="button-observed observe-link favourites-button svg-heart add-to-favourites" data-statkey="ad.observed.list" rel="nofollow" data-id="60470245" href="#" title="Obserwuj">
            <span class="icon observed-60470245"></span>
            <svg width="100%" height="100%" viewBox="0 0 52 47" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="14_SubAccounts" stroke="none" stroke-width="1" fill-rule="evenodd">
                    <g id="#-styleguide" transform="translate(-290.000000, -3431.000000)" fill-rule="nonzero">
                        <g id="heart-regular" transform="translate(290.000000, 3417.000000)">
                            <g id="Group-7" transform="translate(0.000000, 14.000000)">
                                <g id="Group-6">
                                    <path d="M44.9749792,5.0327098 C39.5562332,0.472655041 31.1843643,1.15760154 25.9999932,6.44013411 C20.815622,1.15760154 12.4437532,0.463272213 7.0250072,5.0327098 C-0.0249875872,10.9720404 1.00626165,20.6551196 6.03125794,25.7875269 L22.4749958,42.5546419 C23.4124951,43.5116904 24.6687442,44.0465116 25.9999932,44.0465116 C27.3406172,44.0465116 28.5874913,43.5210732 29.5249906,42.5640247 L45.9687284,25.7969098 C50.9843497,20.6645025 52.0343489,10.9814232 44.9749792,5.0327098 Z" id="Path"></path>
                                    <path d="M46.2718892,3.50241459 C53.7431472,9.79821295 53.7229457,20.7330078 47.4057954,27.197245 L30.9628717,43.9635293 C29.6487574,45.3050462 27.8867501,46.04647 26.009144,46.04647 C24.1408152,46.04647 22.3695113,45.2956437 21.0562304,43.9549771 L4.61132027,27.1866659 C-1.70790147,20.7323686 -1.72137807,9.79370898 5.74484956,3.50371964 C11.4787764,-1.33149882 20.0613911,-1.07727526 26.0092656,3.74139162 C31.9542156,-1.07326776 40.5355381,-1.32491546 46.2718892,3.50241459 Z M27.4365577,7.8409816 L26.009144,9.29542206 L24.5817303,7.8409816 C20.0856339,3.25975559 12.8944426,2.70707366 8.32274593,6.56222409 C2.70796719,11.2924442 2.7181226,19.5353679 7.46832495,24.3871085 L23.9128769,41.155054 C24.4776636,41.731618 25.2204435,42.04647 26.009144,42.04647 C26.8109459,42.04647 27.5432365,41.7383341 28.1062252,41.1636062 L44.5474853,24.3990223 C49.2979771,19.5379178 49.3133455,11.2966718 43.6958622,6.56249388 C39.1208731,2.7129779 31.9290821,3.26339526 27.4365577,7.8409816 Z" id="Path" fill="#FFFFFF"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </a>
    </div>




</article>